/* Background */
body{
    background:#f4f7fc;
    font-family:Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar{
    box-shadow:0 3px 10px rgba(46, 167, 92, 0.15);
}

/* Cards */
.card{
    border:none;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-6px);
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

/* Buttons */
.btn{
    border-radius:10px;
}

.btn:hover{
    transform:scale(1.03);
    transition:.3s;
}

/* Table */
.table{
    border-radius:12px;
    overflow:hidden;
}

.table tbody tr:hover{
    background:#1c5aa0;
}

/* Form */
.form-control,
.form-select{
    border-radius:10px;
}

/* Images */
img{
    border-radius:10px;
}

/* Footer */
footer{
    margin-top:70px;
}

/* Dashboard Numbers */
.card h2{
    font-weight:bold;
}

/* Titles */
h1,h2,h3,h4{
    font-weight:bold;
}
.home-bg{
    background:
        linear-gradient(
            rgba(255,255,255,0.85),
            rgba(255,255,255,0.85)
        ),
        url("../images/travel_bg.jpg");

    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 30px;
}
.navbar{
    background-color:  rgb(106, 56, 192) !important;
}

.navbar .nav-link{
    color: black !important;
    font-weight: bold;
}

.navbar .nav-link:hover{
    color: #0d6efd !important;
}
.hero-section{
    min-height:90vh;
    background:
    linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
    url("../images/travel-bg.jpg");
    background-size:cover;
    background-position:center;
}

.hero-image{
    max-width:500px;
}

.feature-card{
    background:rgb(247, 245, 251);
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    transition:.3s;
}

.feature-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}
