```html
<form method="POST">

    <input type="text"
           name="name"
           value="{{ traveller['name'] }}"
           class="form-control">

    <input type="number"
           name="age"
           value="{{ traveller['age'] }}"
           class="form-control">

    <input type="email"
           name="email"
           value="{{ traveller['email'] }}"
           class="form-control">

    <input type="text"
           name="contact_no"
           value="{{ traveller['contact_no'] }}"
           class="form-control">

    <input type="text"
           name="destination"
           value="{{ traveller['destination'] }}"
           class="form-control">

    <input type="number"
           name="days"
           value="{{ traveller['days'] }}"
           class="form-control">

    <input type="number"
           name="budget"
           value="{{ traveller['budget'] }}"
           class="form-control">

    <button type="submit" class="btn btn-primary">
        Update Traveller
    </button>
    <div class="mb-3">
    <label>Status</label>

    <select name="status" class="form-control">
        <option value="Planned" {% if traveller['status']=='Planned' %}selected{% endif %}>Planned</option>
        <option value="Ongoing" {% if traveller['status']=='Ongoing' %}selected{% endif %}>Ongoing</option>
        <option value="Completed" {% if traveller['status']=='Completed' %}selected{% endif %}>Completed</option>
    </select>
</div>
</form>
```
