{% extends "base.html" %}

{% block title %}My Trips{% endblock %}

{% block content %}

<div class="container mt-4">

<h2 class="text-center mb-4">My Trips</h2>

<a href="{{ url_for('add_trip') }}" class="btn btn-success mb-3">
    + Add New Trip
</a>

<table class="table table-bordered table-striped">

    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Trip Name</th>
            <th>Destination</th>
            <th>Travel Date</th>
            <th>Days</th>
            <th>Budget</th>
            <th>Transport</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        {% for trip in trips %}
        <tr>

            <td>{{ trip['id'] }}</td>
            <td>{{ trip['trip_name'] }}</td>
            <td>{{ trip['destination'] }}</td>
            <td>{{ trip['travel_date'] }}</td>
            <td>{{ trip['days'] }}</td>
            <td>₹{{ trip['budget'] }}</td>
            <td>{{ trip['transport'] }}</td>
            <td>
                <span class="badge bg-info">
                    {{ trip['status'] }}
                </span>
            </td>

            <td>

                <!-- Edit -->
               
                <a href="{{ url_for('edit_trip', trip_id=trip.id) }}"
                    class="btn btn-warning btn-sm">
                    Edit
                </a>

                <a href="{{ url_for('generate_ai', trip_id=trip.id) }}"
                     class="btn btn-primary btn-sm">
                    🤖 Generate AI
                </a>

                <!-- Delete -->
                <a href="{{ url_for('delete_trip', trip_id=trip.id) }}"
                   class="btn btn-danger btn-sm">
                    Delete
                </a>

            </td>

        </tr>
        <tr>
    <td colspan="9">

        {% if trip['ai_itinerary'] %}

            <div class="alert alert-success mb-0">

                <h6>🤖 AI Recommended Itinerary</h6>

                <pre>{{ trip['ai_itinerary'] }}</pre>

            </div>

        {% else %}

            <div class="alert alert-warning mb-0">
                No AI itinerary generated yet.
            </div>

        {% endif %}

        </td>
        </tr>
        {% endfor %}

    </tbody>

</table>

</div>

{% endblock %}